/** src\CompetidexComponents\MovimientosComponents\VistaMovimiento\VistaMovimiento.css */

.vista-wrapper-mov {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.componenteVistaMovimiento {
  background-color: #282c34;
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Responsive */
@media (max-width: 900px) {
  
  .componenteVistaMovimiento {
    margin: 0 10px;
  }

}

@media (max-width: 600px) {

  .componenteVistaMovimiento {
    margin: 0 5px;
    padding: 10px;
  }

}