/** src\CompetidexComponents\HabilidadesComponents\VistaHabilidad\VistaHabilidad.css */

/* Wrapper general: asegura que todo quede centrado */
.vista-wrapper-hab {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Recuadro contenedor */
.componenteVistaHabilidad {
  background-color: #282c34;
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Responsive */
@media (max-width: 900px) {

  .componenteVistaHabilidad {
    margin: 0 10px;
  }

}

@media (max-width: 600px) {

  .componenteVistaHabilidad {
    margin: 0 5px;
    padding: 10px;
  }

}
