/** src\CompetidexComponents\MovimientosComponents\VistaMovimiento\DataMovimiento\DescMovimiento\DescMovimiento.css */

.descmov-container {
  width: 100%;
  box-sizing: border-box;
}

.descmov-tabs-wrapper {
  border-radius: 12px;
  padding: 3px;
  box-sizing: border-box;

  background: var(--panel, #1f2227);
}

.descmov-tabs {
  display: flex;
  gap: 6px;
  border-bottom: 1px solid #4c4c4c;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.descmov-tab {
  background: transparent;
  padding: 8px 12px;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  color: #ffd900d7;
  background: rgba(24, 28, 36, 0.304);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.descmov-tab:hover {
  color: #ffd900d7;
  background: rgba(56, 59, 63, 0.872);
}

.descmov-tab.active {
  color: #FFD700;
  border-bottom-color: #FFD700;
  background: #282c34;
}
.descmov-box {
  width: 100%;
  border-radius: 14px;
  padding: 12px 14px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: bold;
}

/* Título "Descripción:" */
.descmov-title {
  font-size: 18px;
  margin-bottom: 8px;
}

/* subrayado SOLO en "Descripción" */
.descmov-underline {
  text-decoration: underline;
}

/* Texto*/
.descmov-text {
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  margin:10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 14px;
  background: var(--panel, #1f2227);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}


.descmov-text-unavailable {
  color: #bbbbbb;
  font-style: italic;
}

.descmov-text-disponible {
  font-weight: bold;
  color: #ffffff;
}

.marginArriba {
  margin-top: 10px;
}

/* Tamaños */
.descmov-container-small .descmov-title{ font-size: 16px; }
.descmov-container-small .descmov-text{ font-size: 16px; }

.descmov-container-normal .descmov-title{ font-size: 30px; }
.descmov-container-normal .descmov-text{ font-size: 25px; }

.descmov-container-large .descmov-title{ font-size: 20px; }
.descmov-container-large .descmov-text{ font-size: 20px; }

/* Responsive */
@media (max-width: 480px) {

  .descmov-title {
    font-size: 16px;
  }

  .descmov-text {
    font-size: 20px !important;
  }

  .descmov-tab {
    padding: 7px 10px;
    font-size: 14px;
  }

}